<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="direwolf.cozinhadesobrevivenciadosolteiromoderno" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SobreOApp"
            android:label="@string/title_activity_sobre_oapp" >
        </activity>
        <activity
            android:name=".ReceitasSalgadas"
            android:label="@string/title_activity_receitas_salgadas" >
        </activity>
        <activity
            android:name=".ReceitasDoces"
            android:label="@string/title_activity_receitas_doces" >
        </activity>
        <activity
            android:name=".Aperitivos"
            android:label="@string/title_activity_aperitivos" >
        </activity>
        <activity
            android:name=".Molhos"
            android:label="@string/title_activity_molhos" >
        </activity>
        <activity
            android:name=".FragmentLayoutReceitasDoces"
            android:label="@string/title_activity_fragment_layout_receitas_doces" >
        </activity>
        <activity
            android:name=".FragmentLayoutReceitasSalgadas"
            android:label="@string/title_activity_fragment_layout_receitas_salgadas" >
        </activity>
        <activity
            android:name=".FragmentLayoutAperitivos"
            android:label="@string/title_activity_fragment_layout_aperitivos" >
        </activity>
        <activity
            android:name=".FragmentLayoutMolhos"
            android:label="@string/title_activity_fragment_layout_molhos" >
        </activity>
        <activity
            android:name=".direwolf.cozinhadesobrevivenciadosolteiromoderno.fragments.FragmentSopaParaguaia"
            android:label="@string/title_activity_fragment_sopa_paraguaia" >
        </activity>
        <activity
            android:name=".direwolf.cozinhadesobrevivenciadosolteiromoderno.fragments.FragmentBoloDePaoDeQueijo"
            android:label="@string/title_activity_fragment_bolo_de_pao_de_queijo" >
        </activity>
        <activity
            android:name=".direwolf.cozinhadesobrevivenciadosolteiromoderno.fragments.FragmentTortaDePalmito"
            android:label="@string/title_activity_fragment_torta_de_palmito" >
        </activity>
        <activity
            android:name=".direwolf.cozinhadesobrevivenciadosolteiromoderno.fragments.FragmentTortaDePizza"
            android:label="@string/title_activity_fragment_torta_de_pizza" >
        </activity>
        <activity
            android:name=".direwolf.cozinhadesobrevivenciadosolteiromoderno.fragments.FragmentBoloDeCaneca"
            android:label="@string/title_activity_fragment_bolo_de_caneca" >
        </activity>
    </application>

</manifest>
